{% extends "layout.html" %}
{% block title %}gamepage{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<br>
<h3>오늘따라 일찍 기상한 나</h3><br><br>
<ol>
    <li><a href={{ url_for('movepage' ,data='chapter1.1') }}>핑핑이에게 인사</a></li><br>
    <li><a href={{ url_for('movepage' ,data='chapter1.2') }}>밖으로 나가기</a></li>
</ol>

<br><br>
<p>스테이터스</p>
<p>Name : {{data.name}}</p>
<p>Item : {{data.item[0]}}, {{data.item[1]}}, {{data.item[2]}}</p>
<p>skill : {{data.skill[0]}}, {{data.skill[1]}}, {{data.skill[2]}}</p>
{% endblock %}
